:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #ffffff;
  --brand: #073B39;
  --accent: #70AD82;
  --border: #dce5e6;

  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --font-family: "Montserrat", sans-serif;
  --sans: var(--font-family);
  --heading: var(--font-family);
  --mono: ui-monospace, Consolas, monospace;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;

  background: var(--bg);
  color: var(--text);

  font-family: var(--font-family);
}

button,
input,
textarea,
select {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
}

#root {
  min-height: 100vh;
  text-align: center;

  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #dce5e6;
    --text-h: #ffffff;
    --bg: #073B39;
    --brand: #ffffff;
    --accent: #70AD82;
    --border: #285d58;
  }
}